.doctor-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.doctor-header h3 {
  font-family: nexa-light;
  font-weight: 600;
  font-size: 1.3rem;
}

.doctor-header button {
  background-color: lightgrey;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.doctor-header button i {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.banner {
  display: none;
}
.filter-container {
  display: none;
}

.filter-container-heading {
  display: none;
}

.doctor-cards-container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  width: 100%;
  margin: auto;
}

.doctor-cards-container .doctor-card {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  align-content: center;
  justify-items: left;
  align-items: center;

  width: 100%;
  border: 2px solid #e2e2e2;
  border-collapse: collapse;
  margin: 0 auto;
  padding-top: 1rem;
}

.doctor-card .doctor-name {
  color: #4293c5;
  padding: 0rem 2rem;
  font-size: 1.3rem;
  line-height: 1.55rem;
  position: relative;
}

.doctor-card .doctor-name::before {
  content: "\2015";
  font-size: 1.75rem;
  position: absolute;
  left: 0rem;
  
}

.doctor-card .doctor-info {
  text-align: left;
}

.doctor-card .doctor-info ul {
  padding-top: 0.5rem;
}
.doctor-card .doctor-info ul li {
  display: grid;
  grid-template-columns: 2rem auto;
  align-content: center;
  justify-content: left;
  align-items: center;

  font-size: 1rem;
  
  padding: 0.5rem 0;
}
.doctor-card .doctor-info li i {
  color: #4293c5;
  justify-self: center;
}

.doctor-card .doctor-info li span {
  justify-self: left;
}

.doctor-card .appointment-btn {
  justify-self: center;
  margin: 0.5rem 0;
}

.book-btn {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  /* font-weight: 600; */
  font-size: 1rem;
}

.doctor-card .doctor-img {
  width: 100%;
  height: 25rem;
  text-align: center;
  max-width: 450px;
  max-height: 450px;
  justify-self: center;
  margin: 0 auto;
}

.doctor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: 0 auto; */
}

@media only screen and (min-width: 700px) {
  .filter-container {
    display: block;
  }

  .doctor-functionality {
    display: grid;
    grid-template-columns: 2fr 8fr;
    column-gap: 1rem;
  }

  .filters {
    border-bottom: 2px solid lightgrey;
    /* margin-bottom: 1rem; */
    padding: 1rem 0;
  }

  .filter-heading {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    align-items: center;
    justify-items: left;
    padding-bottom: 1rem;
  }

  .filter-heading h4 {
    display: inline;
    font-family: nexa-light;
    color: var(--main-sectionHeadlines-color);
    font-weight: 600;
    font-size: 1.1rem;
  }

  .filter-heading i {
    color: #4293c5;
  }
  .filter-content {
    display: grid;
    grid-template-columns: 2rem auto;

    align-content: center;
    align-items: center;
    justify-items: left;
    font-size: 1rem;
    color: #081038;
  }

  .filter-content label {
    justify-self: left;
    font-size: inherit;
  }

  .show-more {
    color: #4293c5;
    font-family: nexa-bold;
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  .doctor-cards-container .doctor-card {
    display: grid;
    grid-template-columns: 7fr 5.5fr;
    grid-template-rows: auto auto auto;
    padding-top: 0;
    column-gap: 4rem;
  }

  .doctor-card .doctor-name {
    padding-top: 1rem;
  }

  .doctor-card .doctor-info {
    align-self: flex-start;
    padding-top: 0.5rem;
  }

  .doctor-card .doctor-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 0;
    row-gap: 0.5rem;
    padding-left: 2rem;
  }

  .doctor-card .doctor-info ul li {
    padding: 0;
    padding-right: 0.5rem;
  }

  .doctor-card .doctor-info ul li i {
    justify-self: flex-start;
  }

  .doctor-card .appointment-btn {
    margin: 1rem 0;
    justify-self: flex-start;
    padding-left: 2rem;
  }

  .doctor-card .doctor-img {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
    max-height: 24rem;
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    display: block;
    /* background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png); */
    width: 100%;
    height: 200px;
    color: #081038;
    position: relative;
  }

  .banner > img {
    /* display: none; */
    height: 200px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    opacity: 0.25;
  }

  .banner::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#4293c5, #4293c5);
    position: absolute;
    opacity: 0.4;
    z-index: 2;
  }

  .banner label {
    position: absolute;
    z-index: 3;
    left: 4.5rem;
    top: 85px;
    color: inherit;
    font-size: 1.3rem;
  }

  .banner label a {
    color: inherit;
    font-family: nexa-bold;
  }

  .doctor-header button {
    font-size: 0.85rem;
  }

  .doctor-functionality {
    padding-top: 0;
  }

  .filter-container-heading {
    display: block;
  }

  .filter-container-heading h4 {
    background-color: #f0f0f0;
    line-height: 2.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #081038;
    opacity: 0.8;
  }

  .filters {
    padding-left: 1rem;
  }

  .filter-heading {
    font-size: 1rem;
  }

  .filter-content {
    font-size: 0.85rem;
  }

  .show-more {
    font-size: 0.85rem;
  }

  .doctor-cards-container {
    row-gap: 0.5rem;
  }

  .doctor-cards-container .doctor-card {
    grid-template-columns: 5fr 2fr;
    column-gap: 1rem;
    grid-template-rows: 3rem 7rem 5rem;
  }

  .doctor-card .doctor-info {
    align-self: center;
  }

  .doctor-card .doctor-info ul {
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .doctor-card .doctor-info ul li {
    font-size: 0.85rem;
  }

  .book-btn {
    font-size: 0.85rem;
  }
}
