.search-location-section {
  background-color: #82b5d8;
  color: #010133;
  text-align: center;
}

.search-location-section h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #081038;
}
.search-location-section p {
  font-size: 1.1rem;
  color: #081038;
  margin: 1rem auto;
}
.search-location-section .gps-bar {
  display: flex;

  justify-content: center;

  background-color: white;

  height: 3rem;
  margin-bottom: 0.5rem;
}

.search-location-section .gps-bar button {
  border-style: none;
  background-color: white;
  padding: 0 1rem;
  color: black;
}
.gps-bar input {
  border-style: none;
  width: 100%;
  font-size: 0.9rem;
}
.search-location-section .search-box {
  font-size: 0.9rem;
  height: 3rem;
  width: 100%;
  border-style: none;
  display: block;
  margin: auto;
  padding-left: 0.5rem;
}

.search-location-section .search-button {
  background-color: #010133;
  border-style: none;

  color: white;
  font-family: nexa-bold;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
}

/* Search Location container ends */

/* How it Works section */
.how-it-works {
  text-align: center;
}

.how-it-works > h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #081038;
}

.how-it-works > p {
  font-size: 1.1rem;
  color: #081038;
  margin: 1rem auto;
}

.how-it-works .step-box {
  background-color: white;
  color: rgb(194, 189, 189);
  border: 2px solid rgb(194, 189, 189);
  border-radius: 10px;
  width: 100%;
  height: 3.5rem;
  /* max-height: auto; */
  margin: 1rem 0;

  display: grid;
  grid-template-columns: 15% auto;
  justify-items: center;
  align-items: center;
}

.how-it-works .step-box:last-child {
  margin-bottom: 0;
}
.how-it-works .step-box .step-text {
  justify-self: left;
  line-height: 2rem;
  text-align: left;
}

.how-it-works .click-box {
  border: 2px solid #081038;
  color: #081038;
}

.how-it-works .click-box .number {
  color: #8fcaf1;
}

.how-it-works .step-content {
  max-width: 450px;
  margin: 0 auto;
  display: none;
  color: #081038;
}

.how-it-works .active-content {
  display: block;
}

.how-it-works .step-content p {
  padding: 1rem 0 0;
}

.how-it-works .step-content img {
  width: 100%;
  height: auto;
  max-height: 470px;
  margin: 0.5rem auto 1rem;
  object-fit: cover;
}

/* Doctors List */
.doctor-list-section {
  background-color: #081038;
  color: white;
  margin: 0;
  text-align: center;
}

.doctor-list-section > h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: white;
}

.doctor-list-section > p {
  font-size: 1.1rem;
  color: white;
  margin: 1rem auto;
}

.doctor-list-section .doctor-cards {
  display: inline-grid;
  grid-template-columns: auto;
  margin: auto;
  width: 100%;
  max-width: 28rem;
  row-gap: 1.2rem;
  column-gap: 1.2rem;
}

.doctor-cards .card {
  /* max-width: 25rem; */
  color: #021433;
  background-color: white;

  display: inline-block;
  text-align: left;
  border-bottom: 0.25rem solid lightskyblue;
}

.card .doctor-img {
  text-align: center;
  height: 22rem;
  max-height: 420px;

  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .doctor-info {
  padding: 1rem 0;
}
.card .doctor-info .doctor-name {
  color: #358dc7;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.card .doctor-info .doctor-name::before {
  content: "\2015";
  font-size: 1.75rem;
  position: absolute;
  left: 0rem;
}
.card .doctor-info li {
  padding: 0rem 2rem 0 2rem;
  font-size: 0.95rem;
  /* font-weight: 600; */
  color: #081038;
  line-height: 1.25rem;
}

/* Doctors list ENDS */

/* Featured medical treatments */

.featured-treatments {
  color: #070f38;
  text-align: center;
  /* padding: 2rem 1.2rem; */
  /* margin: 0.5rem 0; */
}

.featured-treatments > h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #081038;
}

.featured-treatments > p {
  font-size: 1.1rem;
  color: #081038;
  margin: 1rem auto;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 28rem;

  row-gap: 1rem;
}

.featured-treatments .features .feature {
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
}

.featured-treatments > .features > .feature:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(to bottom, transparent 60%, #081038);
}

.feature > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.feature > .above-img {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  text-align: left;
  line-height: 1.5rem;
  color: white;
  font-size: 1.1rem;
  opacity: 0.9;
}
.above-img span {
  font-size: 1rem;
}

.services {
  background-color: rgb(233, 232, 232);
  color: #021433;

  text-align: center;
}

.services > h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #081038;
}

.services > p {
  font-size: 1.1rem;
  color: #081038;
  margin: 1rem auto;
}

.services-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.services-grid-container .service-item {
  background-color: white;
  border-radius: 5%;

  justify-self: stretch;
  align-self: center;

  padding-bottom: 1rem;
  padding-top: 0.75rem;
}

.service-item img {
  width: 80px;
  height: 80px;
}

.service-item h6 {
  /* text-transform: uppercase; */
  font-size: 0.9rem;
  color: #081038c4;
  /* font-weight: bold; */
}

/* Exclusive Services Ends */
/* Footer Starts */
/* for tablet view */

@media only screen and (min-width: 700px) { 
 .search-location-section .gps-bar {
    height: inherit;
    font-size: inherit;
    margin: auto;
    margin-right: 1px;
  }

  .gps-bar input {
    font-size: inherit;
  }

  .search-location-section .search-box {
    /* max-width: 60%; */
    height: inherit;
    font-size: inherit;
  }

  .search-location-section .search-button {
    width: 100%;
    margin: auto;
    height: inherit;
    font-size: inherit;
  }

  .search-functionality-container {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  /* How it Works */

  .how-it-works .steps {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    row-gap: 1rem;
  }

  .how-it-works .step-box {
    padding-right: 0.2rem;
    margin: 0;
  }

  .how-it-works .step-box h4 {
    font-size: 1.1rem;
  }

  .how-it-works .steps .step-content {
    grid-column: 2/3;
    grid-row: 1/8;
    padding: 2rem 0 1rem 2rem;

    max-width: 100%;
    max-height: 100%;
  }

  .how-it-works .step-content img {
    /* height: 100%; */
    width: 70%;
    max-height: 350px;
    object-fit: fill;
  }

  /* Doctors -list */
  .doctor-list-section .doctor-cards {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;

    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    max-width: 100%;
  }

  .doctor-list-section .doctor-cards .card {
    /* margin-bottom: 1rem; */
    width: 100%;
  }

  /* Featured Treatments */
  .featured-treatments .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    column-gap: 1rem;
  }

  /* Exclusive Services */
  .services-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .service-item img {
    width: 5rem;
    height: 5rem;
  }
  .service-item p {
    padding-top: 1rem;
  }

  /* Footer */
}

/* For desktop view */
@media only screen and (min-width: 1024px) {
  .search-location-section {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .search-location-section > p {
    margin: 1rem 0;
    width: 60%;
  }
  .search-functionality-container {
    width: 70%;
  }
  .search-location-section .search-functionality-container .gps-bar {
    margin: auto 0;
    margin-right: 1px;
  }

  .how-it-works {
    text-align: left;
  }

  .how-it-works .steps {
    row-gap: 0.25rem;
  }
  .steps .step-box {
    height: 6rem;
    grid-template-columns: 20% auto;
    max-width: 500px;
    justify-self: left;
    border-radius: 5px;
  }

  .how-it-works .click-box {
    border-color: #8fcaf1;
  }

  .how-it-works .steps .step-content {
    text-align: center;
    padding-bottom: 2rem;
  }

  .how-it-works .step-content img {
    width: 90%;
    max-height: 640px;
  }

  .doctor-list-section {
    text-align: left;
  }

  .doctor-list-section .doctor-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
  }

  .card .doctor-img {
    height: 15rem;
  }

  .featured-treatments {
    text-align: left;
  }

  .featured-treatments .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
  }

  .features .f1 {
    grid-row: 1/4;
  }
  .features .f2 {
    grid-row: 1/6;
  }
  .features .f3 {
    grid-row: 1/5;
  }
  .features .f4 {
    grid-row: 4/11;
  }
  .features .f5 {
    grid-row: 6/11;
  }
  .features .f6 {
    grid-row: 5/11;
  }

  .features .feature {
    height: 100%;
  }
  .feature img {
    height: 100%;
  }

  .services {
    text-align: left;
  }

  .services .services-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
  }
  .services .services-grid-container .service-item {
    text-align: center;
    border-radius: 0;
    height: 10rem;
    padding: 2rem;
    padding-bottom: 3rem;
  }

  .service-item img {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .search-location-section .search-functionality-container {
    height: 2.5rem;
    width: 70%;
    grid-template-columns: 2fr 3.5fr 0.5fr;
    font-size: 0.8rem;
  }

  .search-functionality-container .fas {
    font-size: 0.8rem;
  }

  .card .doctor-img {
    height: 17rem;
  }

  /* Exclusive Services */

  .service-item h6 {
    font-size: 0.8rem;
  }
}
