.login-section {
  text-align: center;
  background-color: #82b5d8;
}

a {
  text-decoration: none;
}

input::placeholder {
  font-family: nexa-bold;
  opacity: 1;
}

input:focus,
button:focus {
  outline: none;
}

.login-section .login-wrapper {
  background-color: white;
  padding: 1rem 0;
  margin: 2rem auto;
  max-width: 500px;
}

.login-section .login-wrapper h1 {
  font-size: 1.4rem;
  line-height: 1.8;
  padding-bottom: 1rem;
  color: #0671bb;
}

.login-section .login-wrapper .login-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 55px 55px 55px;
  row-gap: 0.5rem;

  padding: 1.2rem;
  border-top: 2px solid lightgrey;
}

.login-form .mob-num-wrapper {
  color: lightgrey;
  border: 1.5px solid lightgrey;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: auto auto;

  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.login-form .mob-num-wrapper input {
  border-style: none;
  padding: 0;
}

.login-form .mob-num-wrapper i {
  color: #b3b3b3;
  font-size: 1.25rem;
}

.login-form > input {
  border: 1.5px solid lightgrey;
  padding: 0 1rem;
  width: 100%;
}

.login-form input {
  font-size: 0.85rem;
  background-color: white;
}

.login-form button {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-family: nexa-bold;
  text-transform: uppercase;
}

.login-form button i {
  float: right;
}

.login-section .login-wrapper h5 {
  font-size: 0.9rem;
  color: #828282;
  padding-top: 0.5rem;
}

.login-section .login-wrapper h5 a {
  color: #0671bb;
}

footer {
  background-color: #82b5d8;
  text-align: center;
  font-family: nexa-bold;
  padding: 1rem 1.2rem;

}

footer p {
  color: #081038;
  font-family: nexa-bold;
  font-size: 0.85rem;
  padding-bottom: 1rem;
}
