.treatment-section-1 {
  height: 20rem;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #0173b2),
    url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  color: white;
}
.treatment-sec-1 p {
  font-weight: 100;
}
/* section 1 ends  */

/* Section-2 starts */
.treatment-section-2 {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 10px;
}
.section-2-main-data {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 30px 20px;
  grid-template-areas:
    "head head"
    "image text";
  margin-bottom: 30px;
}
.section-2-main-image {
  grid-area: image;
  height: 18rem;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg);
  background-position: center;
  background-size: cover;
}
.section-2-main-text {
  grid-area: text;
}
.section-2-main-text ul {
  margin-left: 15px;
  text-align: justify;
}
.section-2-main-text li {
  list-style-type: disc;
}
.section-2-main-text li::marker {
  color: #0173b2;
}

.section-2-main-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px 5px;
}
.section-2-main-cards h5 {
  font-family: "Nexa-Bold";
}
.section-2-main-cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-2-main-cards i {
 
  background-color: lightblue;
  width: 70px;
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 10px;
}
.section-2-main-cards p {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0px;
}

.side-1 hr,
.side-2 hr {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #0173b2;
  left: 0;
  top: 30px;
}
.side-1,
.side-2 {
  position: relative;
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: 15px;
}
.side-1 h5,
.side-2 h5 {
  font-family: "Nexa-Bold";
}
.side-1 h6,
.side-2 h6 {
  font-family: "Nexa-Bold";
  color: #021433;
}
.side-1 span,
.side-2 span {
  font-family: "Nexa-Bold";
  color: #636668;
  display: flex;
  padding: 20px 0px 5px;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

/* Section-2 ends */

/* More Services starts here */
.more-services {
  background-color: #8abdecea;
  margin: 20px 0px 0px;
  height: auto;
  width: 100%;
}
.more-services-container {
  width: 90%;
  margin: 0px auto;
}
.more-services-container-text {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.more-services-container-text i {
  margin: 0px 5px;
  color: white;
}
.more-services-container h1 {
  font-size: 25px;
  font-family: "Nexa-bold";
  color: white;
  letter-spacing: 1px;
  padding: 20px 0px;
}
.more-services-container-img {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  grid-gap: 10px;
  border-radius: 10px;
  padding: 0px 0px 20px;
}
.more-services-container-text i:hover {
  color: gainsboro;
}
.services-img {
  border-radius: 10px;
  height: 18rem;
  display: flex;
  position: relative;
}
.services-img hr {
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: var(--blue);
  z-index: 10;
  left: 0;
  bottom: 34px;
}
.services-img h3 {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  font-family: "Nexa-bold";
  padding: 25px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.img-1 {
  background-position: center;
  background-size: cover;
  transition: ease 1s;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg);
}
.img-2 {
  background-position: center;
  background-size: cover;
  transition: ease 0.5s;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg);
}
.img-3 {
  background-position: center;
  background-size: cover;
  transition: ease 0.5s;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg);
}
.img-1:hover {
  box-shadow: 10px 10px 50px gray;

  transition: ease 0.5s;
}
.img-2:hover {
  box-shadow: 10px 10px 50px gray;
  transition: ease 0.5s;
}
.img-3:hover {
  box-shadow: 10px 10px 50px gray;
  transition: ease 0.5s;
}
/* More Services ends here */

/* Tablet View  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .treatment-sec-1 {
    text-align: center;
  }
  .treatment-section-2 {
    grid-template-columns: 1fr;
  }
  .section-2-side {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px 15px;
    grid-template-rows: auto;
  }
  .side-1,
  .side-2 {
    height: fit-content;
  }
}

@media only screen and (max-width: 767px) {
  .treatment-sec-1 {
    text-align: center;
  }
  .treatment-section-2 {
    grid-template-columns: 1fr;
  }
  .section-2-main-data {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "head"
      "image"
      "text";
  }
  .section-2-main-data h2 {
    text-align: center;
  }

  .section-2-main-cards {
    grid-template-columns: 1fr;
    grid-gap: 15px 0px;
  }

  .more-services-container-text {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .more-services-container-img {
    grid-template-columns: 1fr;
  }
}
