.plus-hero-container {
  position: relative;
}

.plus-hero-container .plus-heading-background {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp");
  background-size: cover;
  height: 25rem;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}

.plus-hero-container .plus-headings {
  padding: 2rem 1.2rem;
  text-align: center;
}

.plus-hero-container .plus-headings .plus-tag {
  background-color: #0671bb;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  font-family: nexa-bold;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.85rem;
}

.plus-hero-container .plus-headings h1 {
  margin: 1rem auto;
  font-size: 1.8rem;
}

.plus-hero-container .plus-hero-gradient {
  height: 90rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#95c9de),
    color-stop(80%, white)
  );
  background: linear-gradient(180deg, #95c9de 0%, white 80%);
  background-position: right;
  position: absolute;
  width: 100%;
  top: 22rem;
  z-index: -99;
}

.plus-hero-container .plans-container-wrapper {
  padding-bottom: 2.5rem;
}

.plus-hero-container .plans-container-wrapper .plans-container {
  padding: 2rem 1.2rem 0;
  background-color: white;
  text-align: center;
  margin: 0 1rem;
  -webkit-box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.5);
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-container-heading {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-container-heading
  h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.plus-hero-container .plans-container-wrapper .plans-container .plans-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan {
  padding: 1rem 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .plan-head
  h3 {
  padding: 0.5rem 0 1rem 0;
  border-bottom: 1px solid #b3b3b3;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .plan-features
  ul
  li {
  margin: 1rem auto;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .buy-details {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .plan-price {
  font-family: nexa-bold;
  margin: 2.5rem auto 1rem auto;
  font-size: 1.5rem;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .plan-price
  span {
  font-size: 1rem;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  a {
  display: block;
  text-decoration: none;
  font-family: nexa-bold;
  color: #0671bb;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .plan
  .buy-btn {
  background-color: #0671bb;
  border-radius: 5px;
  color: white;
  margin: 1rem 0;
  font-size: 1rem;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .advanced-plan {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#95c9de),
    color-stop(85%, white)
  );
  background: linear-gradient(180deg, #95c9de 0%, white 85%);
  position: relative;
}

.plus-hero-container
  .plans-container-wrapper
  .plans-container
  .plans-grid
  .popular-plan {
  color: white;
  background-color: green;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 8px;
  border-radius: 15px;
  font-size: 0.9rem;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -30px;
}

.brand-metrics {
  text-align: center;
  background-color: white;
}

.brand-metrics .metrics-heading {
  padding-bottom: 1rem;
}

.brand-metrics .metrics-heading p {
  padding-top: 1rem;
}

.brand-metrics .ratings {
  color: #0671bb;
  padding: 1rem;
}

.brand-metrics .ratings .avg-rating h4 {
  font-size: 2rem;
  line-height: 2.3rem;
}

.brand-metrics .ratings .avg-rating .rating-stars {
  margin-bottom: 0.5rem;
}

.brand-metrics .ratings .avg-rating .rating-stars i {
  font-size: 0.8rem;
}

.brand-metrics .ratings .individual-ratings {
  padding: 0 2.5rem;
  font-size: 0.9rem;
  max-width: 400px;
  margin: auto;
}

.brand-metrics .ratings .individual-ratings .rating-bar-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  margin: 1rem auto;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-pointer {
  font-family: nexa-bold;
}

.brand-metrics .ratings .individual-ratings .rating-bar-container .rating-bar {
  background-color: lightgray;
  border-radius: 10px;
  height: 70%;
  margin: auto 0;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-bar
  .rating-bar-5 {
  width: 70%;
  height: 100%;
  background-color: #0671bb;
  border-radius: 10px;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-bar
  .rating-bar-4 {
  width: 35%;
  height: 100%;
  background-color: #0671bb;
  border-radius: 10px;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-bar
  .rating-bar-3 {
  width: 35%;
  height: 100%;
  background-color: #0671bb;
  border-radius: 10px;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-bar
  .rating-bar-2 {
  width: 20%;
  height: 100%;
  background-color: #0671bb;
  border-radius: 10px;
}

.brand-metrics
  .ratings
  .individual-ratings
  .rating-bar-container
  .rating-bar
  .rating-bar-1 {
  width: 10%;
  height: 100%;
  background-color: #0671bb;
  border-radius: 10px;
}

.brand-metrics .service-metrics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  margin: 0.5rem auto;
  color: #0671bb;
}

.brand-metrics .service-metrics .served-area i {
  font-size: 2rem;
}

.brand-metrics .service-metrics .served-area h5 {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.benefits-section {
  text-align: center;
}

.benefits-section > h3 {
  font-family: nexa-light;
  font-size: 1.1rem;
  width: 80%;
  margin: auto;
  padding-bottom: 0.5rem;
}

.benefits-section hr {
  border: 2px solid lightskyblue;
  max-width: 300px;
  margin: auto;
}

.benefits-section .featured-benefits .zero-fees-benefit {
  margin: 1rem auto;
}

.benefits-section .featured-benefits .zero-fees-benefit h4 {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.benefits-section .featured-benefits .zero-fees-benefit ul {
  margin: 1rem auto;
  max-width: 480px;
}

.benefits-section .featured-benefits .zero-fees-benefit ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.benefits-section .featured-benefits .zero-fees-benefit ul li p {
  font-size: 0.9rem;
  text-align: justify;
}

.benefits-section .featured-benefits .zero-fees-benefit ul li i {
  font-size: 1.25rem;
  color: lightskyblue;
}

.benefits-section .featured-benefits .hospitals-benefit {
  padding: 0.5rem 0;
}

.benefits-section .featured-benefits .hospitals-benefit > h5 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.benefits-section .featured-benefits .hospitals-benefit .hospitals-onboarded {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 180px;
  grid-template-columns: 180px 180px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem auto;
}

.benefits-section
  .featured-benefits
  .hospitals-benefit
  .hospitals-onboarded
  .hospital {
  border-bottom: 1px solid lightskyblue;
  width: 100%;
  height: 85px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.benefits-section
  .featured-benefits
  .hospitals-benefit
  .hospitals-onboarded
  .hospital
  img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.benefits-section
  .featured-benefits
  .hospitals-benefit
  .hospitals-onboarded
  .hospital:nth-child(odd) {
  border-right: lightskyblue 1px solid;
}

.benefits-section
  .featured-benefits
  .hospitals-benefit
  .hospitals-onboarded
  .hospital:nth-child(5),
.benefits-section
  .featured-benefits
  .hospitals-benefit
  .hospitals-onboarded
  .hospital:nth-child(6) {
  border-bottom: none;
}

.benefits-section .featured-benefits .hospitals-benefit a {
  font-family: "nexa-light";
  color: #383838;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.benefits-section .featured-benefits .other-benefit {
  padding: 1rem 0 0 0;
}

.benefits-section .featured-benefits .other-benefit .benefit {
  margin: 1.5rem 1.5rem;
}

.benefits-section .featured-benefits .other-benefit .benefit h5 {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.benefits-section .featured-benefits .other-benefit .benefit ul {
  margin: 1rem auto;
}

.benefits-section .featured-benefits .other-benefit .benefit ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.benefits-section .featured-benefits .other-benefit .benefit ul li p {
  font-size: 0.9rem;
  text-align: justify;
}

.benefits-section .featured-benefits .other-benefit .benefit ul li i {
  font-size: 1.25rem;
  color: lightskyblue;
}

.benefits-section .featured-benefits .other-benefit .benefit-image {
  height: 18rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
}

.benefits-section .featured-benefits .other-benefit .benefit-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.tests-section {
  text-align: center;
}

.tests-section > h4 {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #585858;
  padding-bottom: 1rem;
}

.tests-section .test-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin: 1rem auto;
}

.tests-section .test-cards .test-card {
  padding: 1rem 1rem;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0px 14px 1px rgba(156, 154, 154, 0.5);
  box-shadow: 0 0px 14px 1px rgba(156, 154, 154, 0.5);
}

.tests-section .test-cards .test-card .test-img {
  height: 55px;
  width: auto;
  margin: 1rem;
}

.tests-section .test-cards .test-card .test-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.tests-section .test-cards .test-card h6 {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.tests-section .carousel {
  margin: auto;
  height: 0;
}

.tests-section .carousel .c-item {
  display: inline-block;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c5c5c5;
}

.tests-section .carousel .active-car {
  background-color: var(--secondary-text-color);
}

.feedback-section {
  text-align: center;
}

.feedback-section .heading {
  margin-bottom: 0.5rem;
}

.feedback-section .heading h3 {
  display: inline-block;
  padding-right: 0.5rem;
}

.feedback-section .heading .plus-tag {
  display: inline-block;
  background-color: var(--secondary-button-bg-color);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  font-family: nexa-bold;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.85rem;
}

.feedback-section .user-testimonials .testimonial {
  -webkit-box-shadow: 0 0px 14px 1px rgba(156, 154, 154, 0.5);
  box-shadow: 0 0px 14px 1px rgba(156, 154, 154, 0.5);
  padding: 1rem;
  margin: 1rem auto 0;
}

.feedback-section .user-testimonials .testimonial .user-quote {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.feedback-section .user-testimonials .testimonial .user-quote q {
  font-family: nexa-bold;
}

.feedback-section .user-testimonials .testimonial .user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
}

.feedback-section .user-testimonials .testimonial .user img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.feedback-section .user-testimonials .testimonial .user .user-name {
  font-family: "nexa-bold";
  font-size: 1rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  justify-self: flex-start;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.feedback-section .user-testimonials .testimonial .user .user-plan {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "nexa-bold";
  color: var(--secondary-text-color);
  background-color: #c0e1ef;
  font-size: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 5px;
}

.faq-section > h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.faq-section ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  row-gap: 0.5rem;
}

.faq-section ul li .faq-item-heading {
  color: var(--secondary-text-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 100%) auto;
  grid-template-columns: minmax(auto, 100%) auto;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  justify-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.faq-section ul li .faq-item-heading h3 {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: left;
}

.faq-section ul li .faq-item-heading .angle-icon {
  justify-self: flex-end;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #dfeef7;
  cursor: pointer;
}

.faq-section ul li .faq-item-content {
  display: none;
  background-color: #dfeef7;
  padding: 0.7rem 0.5rem;
  text-align: left;
  font-size: 0.8rem;
}

.faq-section ul li .faq-item-content p {
  font-size: inherit;
}

@media only screen and (min-width: 700px) {
  .plus-hero-container .plus-headings {
    text-align: left;
    padding: 2.5rem;
  }
  .plus-hero-container .plus-headings .plus-tag {
    margin: auto 0;
  }
  .plus-hero-container .plus-headings h1 {
    font-size: 2.2rem;
  }
  .plus-hero-container .plus-hero-gradient {
    height: 40rem;
  }
  .plus-hero-container .plans-container-wrapper .plans-container {
    margin: 0 2.5rem;
  }
  .plus-hero-container .plans-container-wrapper .plans-container .plans-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .plus-hero-container
    .plans-container-wrapper
    .plans-container
    .plans-grid
    .plan {
    padding: 1rem;
  }
  .brand-metrics .ratings {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content max-content;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .brand-metrics .ratings .individual-ratings {
    margin: 0;
    width: 350px;
  }
  .brand-metrics .service-metrics {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .benefits-section .featured-benefits {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin-top: 1rem;
  }
  .benefits-section .featured-benefits .hospitals-benefit {
    padding: 0;
    margin: 1rem auto;
  }
  .benefits-section .featured-benefits .other-benefit {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 1.5rem;
  }
  .benefits-section .featured-benefits .other-benefit .benefit {
    margin: 0;
    padding: 0.5rem;
  }
  .benefits-section .featured-benefits .other-benefit .benefit h5 {
    font-size: 1.2rem;
    line-height: 1.35rem;
    text-align: left;
    padding-left: 0.5rem;
  }
  .benefits-section .featured-benefits .other-benefit .benefit ul li p {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .benefits-section .featured-benefits .other-benefit .benefit-image {
    height: 14rem;
  }
  .benefits-section .featured-benefits .other-benefit .ben1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .benefits-section .featured-benefits .other-benefit .ben3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tests-section h4 {
    text-align: left;
  }
  .tests-section .test-cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: none;
    grid-template-rows: none;
  }
  .feedback-section .heading {
    text-align: left;
    margin-bottom: 1rem;
  }
  .feedback-section .user-testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .feedback-section .user-testimonials .testimonial {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .faq-section > h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .plus-hero-container .plus-headings {
    padding: 4rem 4rem 3rem;
    margin-bottom: 2rem;
  }
  .brand-metrics .ratings .individual-ratings {
    width: 400px;
  }
  .benefits-section .featured-benefits .other-benefit {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .benefits-section .featured-benefits .other-benefit .ben1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .benefits-section .featured-benefits .other-benefit .ben2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .benefits-section .featured-benefits .other-benefit .ben3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .feedback-section .user-testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}
/*# sourceMappingURL=tvastra-plus.css.map */
