
.logo {
    width: 8rem;
   }

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    }

    header > a {
    line-height: 0;
}

.hide-mobile {
    display: none;
}

nav {
    align-content: center;
}

nav .menu-bar {

    font-size: 1.2rem; 
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    width: 50%;
    background: rgba(36, 41, 44);
    padding-top: 1rem;
    height: 100%;
    z-index: 5;
}
nav ul li i{
    color: white;
}

nav ul li a{
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    background: rgb(49, 55, 59);
    width: 100%;
}

nav ul li a:hover {
    background-color:  rgb(69, 76, 80);
}

nav .exit-menu {
    margin-bottom: 1rem;
    text-align: right;
    padding-right: 1.4rem;
}

nav .exit-menu i {
    cursor: pointer;
    font-size: 1.3rem;
}



@media only screen and (min-width: 1024px) { 
    
    .logo {
        width: 12rem;
    }
    .hide-desktop {
        display: none;
    }

    .show-desktop {
        display: inline-block;
    }

    nav {
        
        text-align: initial;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 75%;
        padding-left: 1rem;

    }
    nav ul {
        position: inherit;
        display: flex;
        color: black;
        width: auto;
        background-color: initial;
        padding: 0;
        align-self: center;
        margin-right: 1rem;
    }

    nav ul li {
        float: left;
        padding-right: 0.5rem;
        vertical-align: middle;
        
    }

    nav ul li a {
        color: black;
        background-color: initial;
        padding: 0;
    }

    nav ul li a:hover {
        background-color: white;
    }

    nav .nav-cta {
        display: inline-block;
        width: auto;

        justify-self: flex-end;
    }
    nav .nav-cta a {
        text-decoration: none;
        color: inherit;
        padding: 0;
    }
    nav .login-btn {
        border: 0.1rem solid var(--main-bg-color);
        padding: 0.5rem 1rem;
        background-color: white ;
        border-radius: 0.2rem;
        color: var(--main-text-color);
        
     
    }    

    nav .getQuote-btn {
        border:  0.1rem solid var(--main-bg-color);
        background-color: var(--main-bg-color);
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 0.2rem;
        text-decoration: none;
    }
    
   
}

@media only screen and (min-width: 1200px) {

    header .logo {
        width: 10rem;
    }

    nav {
        padding: 0;
    }

    nav .show-desktop {
        display: inline-flex;
        justify-content: space-evenly;
        justify-items: flex-end;
        width: 58%;
        margin: 0;
    }
    nav ul li a {
        font-size: 0.9rem;
    }
    nav .nav-cta button {
        font-size: 0.65rem;
    }
}