<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/banner.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/about-us.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/join-us-query.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/footer.css"
    />
    <link
      rel="stylesheet"
     href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"    />
  </head>

  <body>
    <!-- Header starts -->
    <header>
      <a href="index.html">
        <img
          class="logo"
          id="logo"
          src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
          alt="Logo"
        />
      </a>
      <nav>
        <a href="#" class="hide-desktop">
          <i id="barIcon" class="fas fa-bars menu-bar"></i>
        </a>
        <ul id="nav-ul" class="show-desktop hide-mobile">
          <li id="exit-menu" class="exit-menu hide-desktop">
            <i class="fa fa-times"></i>
          </li>
          <li><a href="doctor.html">Doctors</a></li>
          <li><a href="hospital.html">Hospitals</a></li>
          <li><a href="treatment.html">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="about-us.html">About</a></li>
        </ul>
        <div class="nav-cta hide-mobile">
          <a href="login.html">
            <button class="login-btn">Login / Signup</button>
          </a>
          <a href="get.html">
            <button class="getQuote-btn">Get a Quote</button>
          </a>
        </div>
      </nav>
    </header>
    <!-- Header Ends -->

    <section class="about-sec-1"><!--section 1-->
      <div class="container">
          <h1>Living healthy matters.</h1>
          <p>Our specialists aspire to bridge the gap between your benefits and the health needs.</p>
      </div>
  </section><!--section 1 ends-->

  <section class="about-sec-2 container"><!--section 2 starts-->
      <div class="about-sec-2-text">
          <h2>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
          <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
          <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
          <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
          <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt=""></div>
      </div>
      <div class="about-sec-2-image">
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="">
      </div>
  </section><!--section 2 ends-->

  <section class="free-checkup-container">
    <h2>Your wellness builds upon the medical daily.</h2>
    <p>Find your best self here. Discover new ways to live an inspiring life through natural
        beauty, nutrition and diet, an active lifestyle, and better relationships.
    </p>
    <a href="#" class="free-checkup-anchor">
        <button class="free-checkup-btn">Get a Free Checkup</button>
    </a>
    <div class="service-record-box">
        <div class="service-record-item happy-patients">
            <h3>12M</h3>
            <span>Happy Patients</span>
        </div>
        <div class="service-record-item medical-assistants">
            <h3>5K</h3>
            <span>Medical Assistants</span>
        </div>
        <div class="service-record-item alexa-score">
            <h3>9.8</h3>
            <span>Alexa Score</span>
        </div>
        <div class="service-record-item doctors-available">
            <h3>3.2K</h3>
            <span>Doctors Available</span>
        </div>
        <div class="service-record-item cure-rate">
            <h3>45K</h3>
            <span>Cure Rate</span>
        </div>
        <div class="service-record-item health-points">
            <h3>75</h3>
            <span>Health Points</span>
        </div>
    </div>
    <video class="bg-media" autoplay loop muted src="src/client/assets/video/The New Stamford Hospital TV Commercial.mp4">
    </video>
</section>

<!-- Need Help Query -->
<section class="join-us-query">
    <div class="left-content">
        <h2>Join our team</h2>
        <p>We are always looking for good and talented people.</p>
    </div>
    <div class="right-content">
        <button>Submit your CV</button>
    </div>
</section>
<!-- Need Help Ends -->

    <!-- Footer  -->
    <footer class="footer">
      <img
        class="footer-logo"
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
        alt="logo"
      />

      <ul class="tvastra-footer">
        <li><a href="doctor.html">Doctor</a></li>
        <li><a href="hospital.html">Hospital</a></li>
        <li><a href="treatment.html">Treatment</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
        <li><a href="FAQ.html">FAQs</a></li>
      </ul>

      <div class="social-icons" id="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p class="copyright">All Rights Reserved. &copy; tvastra 2020</p>
    </footer>
  </body>
</html>
