<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Doctor's Profile</title>

    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/doctor's-profile.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/help-query.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/footer.css"
    />
    <link
      rel="stylesheet"
     href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
        />
  </head>
  <body>
    <!-- Header starts -->
    <header>
      <a href="index.html">
        <img
          class="logo"
          id="logo"
          src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
          alt="Logo"
        />
      </a>
      <nav>
        <a href="#" class="hide-desktop">
          <i id="barIcon" class="fas fa-bars menu-bar"></i>
        </a>
        <ul id="nav-ul" class="show-desktop hide-mobile">
          <li id="exit-menu" class="exit-menu hide-desktop">
            <i class="fa fa-times"></i>
          </li>
          <li><a href="doctor.html">Doctors</a></li>
          <li><a href="hospital.html">Hospitals</a></li>
          <li><a href="treatment.html">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="about-us.html">About</a></li>
        </ul>
        <div class="nav-cta hide-mobile">
          <button class="login-btn">
            <a href="login.html">Login / Signup</a>
          </button>
          <button class="getQuote-btn">
            <a href="get.html">Get a Quote </a>
          </button>
        </div>
      </nav>
    </header>
    <!-- Header Ends -->

    <!-- Banner -->
    <div class="banner">
      <img
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png"
        alt="banner-bg"
      />
      <div class="banner-text">
        <h1>About John Nission</h1>
        <span>Home / Doctor Profile</span>
      </div>
    </div>

    <!-- About Doctor -->
    <section class="about-doctor-section">
      <main class="about-doctor-container">
        <div class="doc-profile-cta-box">
          <div class="doc-img-box">
            <img
              class="doc-img"
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"
              alt="John Nission"
            />
          </div>
          <a class="book-btn-anchor" href="book-appointment.html">
            <button class="book-btn">Book an appointment</button>
          </a>
        </div>
        <div class="doc-basic-bio">
          <h2 class="doc-name">John Nission</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            dolorum aliquid dignissimos nulla dolore ad tenetur saepe quaerat
            neque optio adipisci, quam illo cumque distinctio sunt similique
            harum, eligendi fuga.
          </p>
        </div>
        <div class="doc-detailed-bio">
          <ul>
            <li>
              <div class="bio-item-heading specialization">
                <i class="fas fa-award icon heading-icon"></i>
                <h3>Specialization</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div
                class="bio-item-content accordion-panel specialization-content"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading list-of-treatments">
                <i class="fas fa-stethoscope heading-icon"></i>
                <h3>List Of Treatments</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div
                class="
                  bio-item-content
                  accordion-panel
                  list-of-treatments-content
                "
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading work-experience">
                <i class="fas fa-hospital icon heading-icon"></i>
                <h3>Work Experience</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div
                class="bio-item-content accordion-panel work-experience-content"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading qualification">
                <i class="fas fa-star heading-icon"></i>
                <h3>Qualification</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div
                class="bio-item-content accordion-panel qualification-content"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading awards">
                <i class="fas fa-trophy heading-icon"></i>
                <h3>Awards</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="bio-item-content accordion-panel awards-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading location">
                <i class="fas fa-map-marker-alt heading-icon"></i>
                <h3>Location</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="bio-item-content accordion-panel location-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
            <li>
              <div class="bio-item-heading avg-fees">
                <i class="fas fa-rupee-sign heading-icon"></i>
                <h3>Avg Fees</h3>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="bio-item-content accordion-panel avg-fees-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Consequuntur possimus provident cumque quam sit. Dignissimos
                  fuga voluptates nemo minima esse doloribus odit aliquam ad
                  minus est, doloremque magnam natus quibusdam!
                </p>
              </div>
            </li>
          </ul>
        </div>
      </main>
    </section>

    <!-- Need Help Query -->
    <section class="help-query">
      <div class="left-content">
        <h2>Need Help?</h2>
        <p>Just let us know. We will be happy to assist you</p>
      </div>
      <div class="right-content">
        <button>Submit your enquiry</button>
      </div>
    </section>
    <!-- Need Help Ends -->

    <!-- Footer  -->
    <footer class="footer">
      <img
        class="footer-logo"
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
        alt="logo"
      />

      <ul class="tvastra-footer">
        <li><a href="doctor.html">Doctor</a></li>
        <li><a href="hospital.html">Hospital</a></li>
        <li><a href="treatment.html">Treatment</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
        <li><a href="FAQ.html">FAQs</a></li>
      </ul>

      <div class="social-icons" id="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p class="copyright">All Rights Reserved. &copy; tvastra 2020</p>
    </footer>
  </body>
</html>
