<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit your query</title>

    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/banner.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/submit-your-query.css">
   <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

    <!-- Header starts -->
    <header>
        <a href="index.html">
            <img class="logo" id="logo"
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo">
        </a>
        <nav>
            <a href="#" class="hide-desktop">
                <i id="barIcon" class="fas fa-bars menu-bar"></i>
            </a>
            <ul id=nav-ul class="show-desktop hide-mobile">
                <li id="exit-menu" class="exit-menu hide-desktop"><i class="fa fa-times"></i></li>
                <li><a href="doctor.html">Doctors</a></li>
                <li><a href="hospital.html">Hospitals</a></li>
                <li><a href="treatment.html">Treatments</a></li>
                <li><a href="#">Other Services</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <div class="nav-cta hide-mobile">
                <a href="login.html">
                    <button class="login-btn">Login / Signup</button>
                </a>
                <a href="get.html">
                    <button class="getQuote-btn">Get a Quote</button>
                </a>
            </div>

        </nav>
    </header>

    <!-- Header Ends -->

    <!-- Submit Query Section-->
    <section class="submit-query-section">
        <div class="submit-query-wrapper">
            <h1>Submit your query</h1>
            <form action="#" method="POST" class="query-form">
                <div class="name-box form-item item1">
                    <input type="text" id="name" placeholder="Enter Name" required>
                </div>
                <div class="phone-box form-item item2">
                    <input type="number" id="phone" placeholder="Enter Phone Number" required>
                </div>
                <div class="email-box form-item item3">
                    <input type="email" id="email" placeholder="Enter Email" required>
                </div>
                <div class="query-box form-item item4">
                    <textarea id="query" placeholder="Write your query here" required></textarea>
                </div>
                <button type="submit" class="form-item item5">SUBMIT
                    <i class="fas fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </section>

    <!-- Footer  -->
    <footer class="footer">
        <p class="copyright">All Rights Reserved. &copy; Tvastra 2020</p>
    </footer>

</body>

</html>
